
    <header>
        <nav class="navbar navbar-inverse">
          <div class="navbar header">
            <a href="/" class="navbar-brand">
              <img src="./app/assets/img/brand.png">
              <small highlight> The movie finder</small>
            </a>
          </div>
        </nav>
    </header> 

<router-outlet></router-outlet>


<!--<div *ngFor='let movie of movies'>
    {{movie.title}}
    </div>-->
    
    <footer class="text-center">
      Copyright &copy; Jouda 2016
    </footer>
    